.venv
.env
.ipynb_checkpoints
__pycache__

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Passwords
db_admin_pass.txt
db_spring_boot_user.txt
jwt_secret_key.txt
spring_aws_s3_access_key.txt
spring_aws_s3_secret_key.txt
