@import "tailwindcss";
@import "../../index.css";

@layer utilities {
    .one-field {
        @apply relative flex flex-col place-content-between   rounded-lg bg-white shadow-lg gap-y-2 p-2;
        height: min-content;
    }
    .info-text-box {
        @apply bottom-0 text-sm p-2 h-fit border border-slate-200 rounded-sm transition-all ease-in-out duration-200 shadow-sm hover:border-slate-300 hover:shadow;
    }
    .top-part {
        display: flex;
        gap: 0.3rem;
        padding: 2px;
    }
}
